<div class="dashboard">
  <div class="container">

    <div class="row">
      <div class="col-sm-3">
        <div class="aside panel">
          <h1><a href="#"><img src="../assets/images/Themis+Logo+2020.png" alt=""></a></h1>
          <ul class="aside-links">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
      
          <p class="copyright">All rights reserved.</p>
      
        </div>
      </div>
      <div class="col-sm-9">

        <app-customers></app-customers>

      </div>
    </div>

    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>